<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>node</title>
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <div class="tit">
                <h1>node homepage</h1>
            </div>
            <div class="login_box">
                <div class="sub_tit">로그인</div>
                <div class="txt">
                    <div>아이디</div>
                    <input type="text">
                </div>
                <div class="txt">
                    <div>비밀번호</div>
                    <input type="password">
                </div>
                <div class="login_btn">
                    <button>로그인</button>
                </div>
            </div>
            <div class="find_box">
                <ul>
                    <li><a href="/findPwd">비밀번호 찾기</a></li>
                    <li><a href="/findId">아이디 찾기</a></li>
                    <li><a href="/join">회원가입</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>