<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>find id</title>
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <div class="tit">
                <h1>node homepage</h1>
            </div>
            <div class="join_box">
                <div class="sub_tit">아이디 찾기</div>
                <div class="txt">
                    <div>이름</div>
                    <input type="text">
                </div>
                <div class="txt">
                    <div>휴대전화</div>
                    <input type="text" class="txt_input2">
                    <button>전송</button>
                </div>
                <div class="txt">
                    <div>인증번호 확인</div>
                    <input type="text" class="txt_input2">
                    <button>확인</button>
                </div>
                <div class="login_btn">
                    <button>아이디 찾기</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>