<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>join</title>
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <div class="tit">
                <h1>node homepage</h1>
            </div>
            <div class="join_box">
                <div class="sub_tit">회원가입</div>
                <div class="txt">
                    <div>아이디</div>
                    <span>
                        <input type="text" class="txt_input">
                        <button>중복확인</button>
                    </span> 
                </div>
                <div class="txt">
                    <div>비밀번호</div>
                    <input type="password1">
                </div>
                <div class="txt">
                    <div>비밀번호 재확인</div>
                    <input type="password2">
                </div>
                <div class="txt">
                    <div>이름</div>
                    <input type="text">
                </div>
                <div class="txt">
                    <div>휴대전화</div>
                    <input type="text" class="txt_input2">
                    <button>전송</button>
                </div>
                <div class="txt">
                    <div>인증번호 확인</div>
                    <input type="text" class="txt_input2">
                    <button>확인</button>
                </div>
                <div class="login_btn">
                    <button>회원가입</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>